/* StylesMenuIzquierdo.css */

.container-menu-izquierdo {
    text-align: center;
}

.imgLogo {
    width: 200px;
    margin-bottom: 20px;
}

.botones-container {
    text-align: center;
}

.boton {
    display: block;
    background:none;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px auto;
    border-radius: 5px;
    font-weight: bold;
    text-align: left; /* Alinea el texto a la izquierda del botón */
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
}

.boton:hover {
    background-color: #265e91;
}





/*nuevo boton*/
.boton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.imguser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.boton span {
    font-weight: bold;
}
